@import 'vars';


html, body{
  padding: 0px;
  margin: 0px;
}
.back1{
  display: flex;
  flex-direction: column;
  height: 120vh;
  background-size: cover;
  background-image: url(../media/spiltblood.jpg);
  align-items: baseline;
}
.exp{
  font-family: 'Open sans', sans-serif;
  font-size: 6rem;
  font-weight: lighter;
  color: white;
  margin: 6rem;
}
.spb{
  font-family: 'Montserrat', sans-serif;
  font-size: 15rem;
  color: white;
  
}
.back2{
  display:flex;
  flex-direction: column;
  height: 100vh;
  background-image: url(../media/chern.jpg);
}

   