@import 'vars';


html, body{
  padding: 0px;
  margin: 0px;
}
.back1{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-size: cover;
  background-image: url(../media/spiltblood.jpg);
  align-items: baseline;
}
.spb{
  font-family: 'Oxygen', sans-serif;
  font-size: 20rem;
  color: white;
}

   