@import 'vars';

html{
  box-sizing: border-box;
  font-size: 62.5%;  
body{
  padding: 0px;
  margin: 0px;
  background-color: #f1ffffe7;
}
}
.back1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 105vh;
  background-size: cover;
  object-fit: cover;
  clip-path: ellipse(81% 67% at 37% 30%);
  background-image: url(../media/spiltblood.jpg);
  background-position: center;

    @include tablet{
    width: 100vw;
    clip-path: ellipse(99% 67% at 37% 30%);
  }
}
.marg{
  margin-left: 6rem;
}
.exp{
  font-family: 'Open sans', sans-serif;
  font-size: 12rem;
  font-weight: lighter;
  color: white;
  animation-name: fadeInLeft;
  animation-duration: 3s;
  @include tablet{
    font-size: 7rem;
  }
  
}
.spb{
  font-family: 'Montserrat', sans-serif;
 
  color: white;
  animation-name: fadeInUp;
  animation-duration: 3.6s;

 
  @include tablet{
    font-size: 16rem;
  }
  @include desktop{
    font-size: 14rem;
  }
}
.back2{
  display:flex;
  flex-direction: row;
  background-color: #f1ffffe7;
  height: 105vh;
  justify-content: center;
  align-items: center;
  clip-path: ellipse(81% 67% at 64% 70%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include tablet{
    width: 100vw;
    clip-path: ellipse(99% 67% at 64% 70%);
  }
  @include desktop{
    font-size: 5rem;
  }
}
.text2{
  display:flex;
  flex-direction: column;
  font-size: 10rem;
  margin: 3rem;
  font-family: 'Montserrat', sans-serif;
  color: #001829;

  @include tablet{
    font-size: 3.3vh;
    margin-left: 2vw;
  }
  @include desktop{
    font-size: 5rem;  
    font-weight: bold;
  }
}
.par2{
  font-size: 3rem;
 
  max-width: 50%;
  margin-left: 2rem; 
  @include tablet{
   
    min-width: 80%;
  }
  @include desktop{
    min-width: 80%;
    font-size: 2rem;
    font-weight: normal;
  }
}

.over{
  display: flex;
  flex-direction: column;
  @include tablet{
    max-width: 50vw;
  }
  @include desktop{
    margin-right: 10vh;
  }
}
.card{
  position: relative;
  background:transparent;
  perspective:1000px;

  @include tablet{
    height: 15rem;
    width: 25rem;
    margin: 3rem;
  }
  @include desktop{
    height: 15rem;
    width: 25;
    margin-top: 7vh;
    margin-left: 10vh;
    
  }
}
.c_inner{
  border: #003355 solid 10px;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card:hover .c_inner{
  transform: rotateY(180deg);
}
.c_front, .c_flip{
  border: yellowgreen solid 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.c_flip{
  background-color: yellowgreen;
  color: whitesmoke;
  transform: rotateY(180deg)
}
.monst{
  font-family: 'Montserrat', sans-serif;
  @include phone{
    font-size: .25vh;
  }

  @include desktop{
    font-size: .8vh;
  }


}
.back3{
  display:flex;
  flex-direction: column;
  background-image: url(../media/open.jpg);
  height: 105vh;
  clip-path: ellipse(81% 67% at 37% 30%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include tablet{
    width: 100vw;
    clip-path: ellipse(99% 67% at 37% 30%);
  }
}
.back4{
  display:flex;
  align-items: center;

  justify-content: space-evenly;
  background-image: url(../media/bridge.jpg);
  height: 105vh;
  clip-path: ellipse(81% 67% at 64% 70%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include tablet{
    width: 100vw;
    clip-path: ellipse(99% 67% at 64% 70%);
  }
 
}
.three{
max-height: 25vh;
border: solid 20px cornflowerblue;
}
#rotate90{
  transform: rotate(270deg);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}